* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

div#root {
  height: 100%;
  min-height: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: linear-gradient(0deg, #F397AD 0%, rgba(252,70,107,1) 100%);
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .header {
  width: 100%;
  height: 7%;
  background: white;
  color: rgba(252,70,107,1);
} */

.landing {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.post-area {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  width: 85%;
  height: 85%;
  /* align-items: center; */
  justify-content: center;
  background: whitesmoke;
  border: 9px solid #76ead7;
  border-radius: 35px;
  /* overflow: scroll; */
}

.badge {
  display: flex;
  position: absolute;
  top: -65px;
  left: -65px;
  width: 145px;
  height: 145px;
  align-items: center;
  text-align: center;
  background: #05dfd7;
  border: 5px solid #76ead7;
  border-radius: 50%;
}

.outward-container {
  /* display: flex; */
  /* flex-direction: column; */
  width: 95%;
  height: 100%;
  /* align-items: center; */
  overflow: scroll;
}

.outward {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  background: #05dfd7;
  border: 5px solid #76ead7;
  border-radius: 10px;
}

textarea {
  font-family: inherit;
}
