.App {
  background: linear-gradient(0deg, #F397AD 0%, rgba(252,70,107,1) 100%);
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  font-family: inherit;
}
